In [2]:
import pandas as pd
import numpy as np

In [17]:
data = pd.read_excel('Aula 03 - Atividade - Amplitude InterquartiÃÅlica.xlsx')
data

    valores
0        30
1        27
2        52
3        32
4        68
5        68
6        36
7        33
8        59
9        31
10       42
11       70
12       57
13       88
14       32
15       25
16       38
17       51
18       44
19       63
20       46
21       53
22       40
23       27
24       23
25      120
26       41
27       45
28        1
29       62

In [22]:
mean = np.mean(data['valores'])
std = np.std(data['valores'])
var = np.cov(data['valores'])
print(mean, std)

46.8 22.14708408195836

In [20]:
lim_inf = mean - 2*std
lim_sup = mean + 2*std

print('Limite inferior: ', lim_inf)
print('Limite superior: ', lim_sup)

Limite inferior:  2.5058318360832743
Limite superior:  91.09416816391672

In [21]:
print(data[data['valores'] < lim_inf])
print(data[data['valores'] > lim_sup])

    valores
28        1
    valores
25      120

In [ ]:
def highlight_outliers(s):
    '''
    highlight the maximum in a Series yellow.
    '''
    is_max = s == s.max()
    return ['background-color: yellow' if v else '' for v in is_max]